@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
    margin: 0;
    font-family: 'poppins';
}
/*css du header de toutes les pages*/
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1c242d;
    position: absolute;
    width: 100%;
    position: fixed;
    top: 0px;
}
.titre{
  margin: 25px;
  color: #FFF;
}
ul .onglet{
    margin-top  : 10px;
    padding: 10px;
    padding-top: 10px;
}
ul a{
    color: #FFF;
    text-decoration: none;
    padding: 10px;
}
ul .onglet:hover{
    color: #FFF;
    text-decoration: none;
    cursor: pointer;  
    background-color: #d2483c;
    border-radius: 15px;
}
button{
    margin: 10px;
    width: 120px;
    height: 30px;
}
button a{
    color: #000;
    text-decoration: none;
}
.menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu .onglet {
    margin: 0 5px;
    overflow: hidden;
}
.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#menu-toggle {
    display: none;
}
.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}
.menu-button::before {
    content: '';
    margin-top: -8px;
}
.menu-button::after {
    content: '';
    margin-top: 8px;
}
  
#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}
  
#menu-toggle:checked + .menu-button-container .menu-button {
    background: #1c242d;
}
  
#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}
/*css du footer  de toutes les pages*/
footer{
    position: absolute;
    width: 100%;
    background-color: #1c242d;
    color: rgb(219, 219, 219);
    display: flex;
    margin-bottom: 0px;
}
footer div{
    margin: auto;
}
footer input{
    width: 200px;
}
h1{
    margin: 50px;
}
/*css de la page d'accueil*/
.accueil section{
    padding-top: 100px;
    background-image: url("../img/accueil.jpg");
    width: 100%;
    height: 550px;
}
.accueil .article{
    margin: 20px;
    background-color: #FFF;
    padding: 10px;
    width: 360px;
    height: 200px;
}
.accueil .boite{
    margin: 10px; 
    display: flex;  
}
/*css de la page de recrutement*/
.recrutement section{
    padding-top: 150px;
    background-image: url("../img/VTC-.png");
    width: 100%;
    height: 500px;
}
.recrutement fieldset{
    margin-bottom: 80px;
    width: 200px;
    margin: 15px;
}
.recrutement .img-recru{
    margin: 25px;
    margin-top: 27px;
    width: 450px;
}
.recrutement .boite-recru{
    margin-left: 100px;
    background-color: #FFF;
    display: flex;
    width: 820px;
}
.recrutement textarea{
    width: 250px;
    height: 70px;
}
.recrutement input{
    width: 250px;
}
/*css de l'onglet reservation*/
.reserver section{
    padding-top: 150px;
    background-image: url("../img/BJB-chauffeur-prive-01.jpg");
    width: 100%;
    height: 500px;
}
/*responsive du site*/
@media (max-width: 850px) {
    .menu-button-container {
      display: flex;
    }
    .menu {
        position: absolute;
        top: 0;
        margin-top: 98px;
        left: 0;
        flex-direction: column;
        width: 50%;
        justify-content: center;
        align-items: center;
    }
    #menu-toggle ~ .menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color: #1c242d;
      }
      ul .onglet:hover{
        border-radius: 0px;
    }
    footer h1{
        display: none;
    }
    .accueil .boite{
        display: block;                                                                                       ;  
    }
    .recrutement .img-recru{
        display: none;
    }
    .recrutement .boite-recru{
        width: 315px;
    }
    @media (max-width: 500px) {
        .menu{
            margin-top: 73px;
        }
        .titre{
            font-size: 15px;
            
        }        
        header{
            width: 100%;
        }
        button{
            width: 90px;
        }
        .accueil .article{
            width: 250px;
            height: 250px;
        }
        footer{
            display: block;
            padding: 15px;
        }
    }

}
